* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li a {
  text-decoration: none;
  color: #f57945;
}
div img {
  display: block;
  width: 100%;
}
.container {
  display: flex;
  max-width: 992px;
  min-width: 320px;
  margin: auto;
  width: 100%;
  min-width: 320px;
  padding-left: 1rem;
  margin-bottom: 10px;
}
header {
  max-width: 100%;
  max-height: 12rem;
  background-color: #0c016b;
  color: #f57945;
  height: 100px;
  display: flex;
  align-items: center;
}
header .list-items {
  display: flex;
  max-width: 260px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header .menu {
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.presentation {
  align-items: center;
  justify-content: space-between;
}
.presentation .txt-presentation {
  min-height: 200px;
}
.txt-presentation h1 {
  color: #0c016b;
  font-size: 49px;
  margin: 10px;
}
.btn {
  background-color: #0c016b;
  color: #f57945;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  border-radius: 40px;
  width: 200px;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#who-we-are {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
#who-we-are h2 {
  font-size: 32px;
  color: #0c016b;
  display: flex;
  margin-bottom: 20px;
}
#who-we-are h2::before {
  content: "";
  height: 50px;
  width: 5px;
  margin-right: 5px;
  background-color: #f57945;
  position: relative;
}
#who-we-are p {
  font-size: 15px;
  margin-bottom: 10px;
  width: 90%;
}
#who-we-are {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.extern-container {
  background-color: #0c016b;
  width: 100%;
}
#service {
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px;
}
#service h2 {
  color: #f57945;
  font-size: 32px;
  margin-bottom: 20px;
}
.service-list {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.service-item a {
  width: 220px;
  color: #0c016b;
  background-color: #f57945;
  border-radius: 30px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  line-height: 50px;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 700;
}
.service-list .service-item {
  text-align: center;
}
.service-item p {
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}
.service-item img {
  width: 80%;
  margin: auto;
}
#plans {
  flex-direction: column;
  min-width: 100vh;
  padding-top: 50px;
}
#plans h2 {
  font-size: 32px;
  color: #0c016b;
}
.list-plans {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.plans-items {
  flex: 1;
  border: 5px solid #0c016b;
  margin-right: 20px;
  padding: 10px;
  max-width: 250px;
  margin-bottom: 20px;
}
.plans-items .btn {
  margin-bottom: 20px;
  margin: auto;
}
.plans-items h3 {
  font-size: 23px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  color: #0c016b;
}
.plans-items h3::after {
  content: "";
  background-color: #0c016b;
  width: 100%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.plans-items ul {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.plans-items ul li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.plans-items ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #0c016b;
  margin-right: 5px;
}
footer {
  background-color: #0c016b;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
footer .footer {
  justify-content: space-between;
  color: #f57945;
}
/*Mobile*/
@media (max-width: 992px) {
  .container {
    flex-direction: column;
    padding: 2px;
    text-align: center;
  }
  .presentation {
    flex-direction: column-reverse;
  }
  .txt-presentation {
    width: 100%;
    align-content: center;
    text-align: center;
  }
  .btn {
    margin: auto;
    width: 50%;
    align-content: center;
    text-align: center;
  }
  #who-we-are {
    flex-direction: column-reverse;
  }
  #who-we-are img {
    height: auto;
    min-width: 320px;
    margin: auto;
  }
  .service-list {
    flex-direction: column;
    max-width: 90%;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: #0c016b;
  }
  #service {
    background-color: #0c016b;
  }
  .service-item {
    max-width: 90%;
    margin: auto;
    background-color: #0c016b;
  }
  .list-plans {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .list-plans .plans-items {
    max-width: 90%;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer {
    background-color: #0c016b;
    width: 100%;
    height: 100px;
  }
  #header {
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 20px;
    max-height: 12rem;
    background-color: #0c016b;
  }
  .f01 {
    background-color: #0c016b;
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
